/* MOBILE (MAX-WIDTH: 767px) */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2E2F42;
}
.footer-info {
    margin-bottom: 72px;
}
.footer-logo {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-studio-logo {
    color: #f4f4fd;
}
.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-social {
    margin-bottom: 72px;
}
.footer-social-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-social-item {
    display: flex;
    width: 40px;
    height: 40px;
}
.footer-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
    fill: #F4F4FD;
}
.footer-subscribe-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-form-input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid #FFF;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.footer-form-input::placeholder {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    opacity: 0,6;
}
.footer-form-btn {
    width: 165px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.footer-form-button-icon {
    fill: #FFFFFF;
}
/* TABLET (MIN-WIDTH: 768px) */

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .footer-wrapper {
        width: 584px;
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
        column-gap: 24px;
    }
    .footer-info {
        width: 264px;
    }
    .footer-form {
        flex-direction: row;
    }    
    .footer-text {
        margin-bottom: 0;
    }
    .footer-logo {
        text-align: start;
    }
    .footer-social {
        margin-bottom: 0;
    }
    .footer-info {
        margin-bottom: 0;
    }
    .footer-social-text {
        text-align: start;
    }
    .footer-subscribe-text {
        text-align: start;
    }
    .footer-form-label {
        width: 264px;
    }
    .footer-social-list {
        margin-bottom: 0;
    }
}
/* DESKTOP (MIN-WIDTH: 1158px) */

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
    .footer-wrapper {
        display: flex;
        align-items: baseline;
        width: 1158px;
        gap: 0;
        column-gap: 0;
    }
    .footer-info {
        margin-right: 120px;
    }
    .footer-link:hover,
    .footer-link:focus {
        background-color: #31d0aa;
    }
    .footer-form {
        gap: 24px;
    }
    .footer-form-wrap {
        margin-left: auto;
    }
    .footer-form-btn:hover,
    .footer-form-btn:focus {
        background-color: #404BBF;
    }
    .footer-form-input {
        opacity: 1;
    }
    .footer-form-input::placeholder {
        opacity: 1;
    }
}

